<div class="home-page-div">
{{!-- <img src="/images/new.png" class="center"> --}}
</div>

{{!-- {{#each meals}}
  <div class="meal">
    <h2>{{name}}</h2>
    <img src="/images/{{filename}}" alt="">
    <p>{{description}}</p>
    {{#if ingredients}}
      <h3>Ingredients:</h3>
      <ul>
        {{#each ingredients}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>No ingredients listed.</p>
    {{/if}}
    <h3>Instructions:</h3>
    <p>{{instructions}}</p>
    <h3>Nutrition:</h3>
    <p>Protein: {{protein}}g</p>
    <p>Fat: {{fat}}g</p>
    <p>Carbs: {{carbs}}g</p>
    <p>Calories: {{calories}}</p>
  </div>
{{/each}} --}}